# Series

In [1]:
import pandas as pd

In [3]:
s = pd.Series([1,10,7,3,79,23])
s

0     1
1    10
2     7
3     3
4    79
5    23
dtype: int64

In [4]:
s[0]

1

In [5]:
s[2:4]

2    7
3    3
dtype: int64

In [6]:
s.describe()

count     6.000000
mean     20.500000
std      29.690066
min       1.000000
25%       4.000000
50%       8.500000
75%      19.750000
max      79.000000
dtype: float64

In [7]:
s.mean()

20.5

In [8]:
s.median()

8.5

In [9]:
 s.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
dtype: bool

In [10]:
s2 = pd.Series([11,5,8])

In [13]:
s = s.append(s2)
s

0     1
1    10
2     7
3     3
4    79
5    23
0    11
1     5
2     8
0    11
1     5
2     8
dtype: int64

# DataFrame

In [14]:
df = pd.DataFrame([['lucas',2983],['carrafa',980],['santos',546]])

In [17]:
df.shape

(3, 2)

In [18]:
df

         0     1
0    lucas  2983
1  carrafa   980
2   santos   546

In [19]:
df = pd.DataFrame([['lucas',2983],['carrafa',980],['santos',546]],columns=['nome','numero'])

In [20]:
df

      nome  numero
0    lucas    2983
1  carrafa     980
2   santos     546

In [22]:
df['numero']

0    2983
1     980
2     546
Name: numero, dtype: int64

In [26]:
df['nome']

0      lucas
1    carrafa
2     santos
Name: nome, dtype: object

In [27]:
df['numero'].mean()

1503.0

In [29]:
df['numero'].median()

980.0

In [30]:
df.iloc[1]

nome      carrafa
numero        980
Name: 1, dtype: object

In [31]:
df.iloc[1]['numero']

980

# Pandas Index

In [32]:
df = pd.DataFrame(
    [
        ['PE', 'Pernambuco', 'Recife'], ['RJ', 'Rio de Janeiro', 'Rio de Janeiro'],
        ['PB', 'Paraíba', 'João Pessoa'], ['SP', 'São Paulo', 'São Paulo'],
        ['MG', 'Minas Gerais', 'Belo Horizonte'], ['CE', 'Ceará', 'Fortaleza'],
        ['AC', 'Acre', 'Rio Branco'], ['MA', 'Maranhão', 'São Luís'], ['RN', 'Rio Grande do Norte', 'Natal'],
        ['PR', 'Paraná', 'Curitiba'], ['RS', 'Rio Grande do Sul', 'Porto Alegre']
    ], columns=['Sigla', 'Nome', 'Capital']
)

In [33]:
df

   Sigla                 Nome         Capital
0     PE           Pernambuco          Recife
1     RJ       Rio de Janeiro  Rio de Janeiro
2     PB              Paraíba     João Pessoa
3     SP            São Paulo       São Paulo
4     MG         Minas Gerais  Belo Horizonte
5     CE                Ceará       Fortaleza
6     AC                 Acre      Rio Branco
7     MA             Maranhão        São Luís
8     RN  Rio Grande do Norte           Natal
9     PR               Paraná        Curitiba
10    RS    Rio Grande do Sul    Porto Alegre

In [34]:
df['Sigla']

0     PE
1     RJ
2     PB
3     SP
4     MG
5     CE
6     AC
7     MA
8     RN
9     PR
10    RS
Name: Sigla, dtype: object

In [35]:
df.index

RangeIndex(start=0, stop=11, step=1)

In [38]:
df.ix[0]

c:\users\lucas\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

Sigla              PE
Nome       Pernambuco
Capital        Recife
Name: 0, dtype: object

In [39]:
df.ix[:2]

c:\users\lucas\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

  Sigla            Nome         Capital
0    PE      Pernambuco          Recife
1    RJ  Rio de Janeiro  Rio de Janeiro
2    PB         Paraíba     João Pessoa

In [40]:
df.iloc[:2]

  Sigla            Nome         Capital
0    PE      Pernambuco          Recife
1    RJ  Rio de Janeiro  Rio de Janeiro

In [41]:
df.index = pd.Index([1,2,3,4,5,6,7,8,9,10,11])

In [42]:
df

   Sigla                 Nome         Capital
1     PE           Pernambuco          Recife
2     RJ       Rio de Janeiro  Rio de Janeiro
3     PB              Paraíba     João Pessoa
4     SP            São Paulo       São Paulo
5     MG         Minas Gerais  Belo Horizonte
6     CE                Ceará       Fortaleza
7     AC                 Acre      Rio Branco
8     MA             Maranhão        São Luís
9     RN  Rio Grande do Norte           Natal
10    PR               Paraná        Curitiba
11    RS    Rio Grande do Sul    Porto Alegre

In [43]:
df.index = df['Sigla']

In [44]:
df

      Sigla                 Nome         Capital
Sigla
PE       PE           Pernambuco          Recife
RJ       RJ       Rio de Janeiro  Rio de Janeiro
PB       PB              Paraíba     João Pessoa
SP       SP            São Paulo       São Paulo
MG       MG         Minas Gerais  Belo Horizonte
CE       CE                Ceará       Fortaleza
AC       AC                 Acre      Rio Branco
MA       MA             Maranhão        São Luís
RN       RN  Rio Grande do Norte           Natal
PR       PR               Paraná        Curitiba
RS       RS    Rio Grande do Sul    Porto Alegre

In [45]:
df.ix['PE']

c:\users\lucas\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

Sigla              PE
Nome       Pernambuco
Capital        Recife
Name: PE, dtype: object

In [46]:
del df['Sigla']

In [47]:
df

                      Nome         Capital
Sigla
PE              Pernambuco          Recife
RJ          Rio de Janeiro  Rio de Janeiro
PB                 Paraíba     João Pessoa
SP               São Paulo       São Paulo
MG            Minas Gerais  Belo Horizonte
CE                   Ceará       Fortaleza
AC                    Acre      Rio Branco
MA                Maranhão        São Luís
RN     Rio Grande do Norte           Natal
PR                  Paraná        Curitiba
RS       Rio Grande do Sul    Porto Alegre

# Carregando Dataset's com pydataset

In [49]:
import pydataset

In [50]:
pydataset.data()

,dataset_id,title
0,AirPassengers,Monthly Airline Passenger Numbers 1949-1960
1,BJsales,Sales Data with Leading Indicator
2,BOD,Biochemical Oxygen Demand
3,Formaldehyde,Determination of Formaldehyde
4,HairEyeColor,Hair and Eye Color of Statistics Students
5,InsectSprays,Effectiveness of Insect Sprays
6,JohnsonJohnson,Quarterly Earnings per Johnson & Johnson Share
7,LakeHuron,Level of Lake Huron 1875-1972
8,LifeCycleSavings,Intercountry Life-Cycle Savings Data
9,Nile,Flow of the River Nile
10,OrchardSprays,Potency of Orchard Sprays
11,PlantGrowth,Results from an Experiment on Plant Growth
12,Puromycin,Reaction Velocity of an Enzymatic Reaction
13,Titanic,Survival of passengers on the Titanic
14,ToothGrowth,The Effect of Vitamin C on Tooth Growth in Guinea Pigs
15,UCBAdmissions,Student Admissions at UC Berkeley
16,UKDriverDeaths,Road Casualties in Great Britain 1969-84
17,UKgas,UK Quarterly Gas Consumption
18,USAccDeaths,Accidental Deaths in the US 1973-1978
19,USArrests,Violent Crime Rates by US State
20,USJudgeRatings,Lawyers' Ratings of State Judges in the US Superior Court
21,USPersonalExpenditure,Personal Expenditure Data
22,VADeaths,Death Rates in Virginia (1940)
23,WWWusage,Internet Usage per Minute
24,WorldPhones,The World's Telephones
25,airmiles,"Passenger Miles on Commercial US Airlines, 1937-1960"
26,airquality,New York Air Quality Measurements
27,anscombe,Anscombe's Quartet of 'Identical' Simple Linear Regressions
28,attenu,The Joyner-Boore Attenuation Data
29,attitude,The Chatterjee-Price Attitude Data
30,austres,Quarterly Time Series of the Number of Australian Residents
31,cars,Speed and Stopping Distances of Cars
32,chickwts,Chicken Weights by Feed Type
33,co2,Mauna Loa Atmospheric CO2 Concentration
34,crimtab,Student's 3000 Criminals Data
35,discoveries,Yearly Numbers of Important Discoveries
36,esoph,"Smoking, Alcohol and (O)esophageal Cancer"
37,euro,Conversion Rates of Euro Currencies
38,faithful,Old Faithful Geyser Data
39,freeny,Freeny's Revenue Data
40,infert,Infertility after Spontaneous and Induced Abortion
41,iris,Edgar Anderson's Iris Data
42,islands,Areas of the World's Major Landmasses
43,lh,Luteinizing Hormone in Blood Samples
44,longley,Longley's Economic Regression Data
45,lynx,Annual Canadian Lynx trappings 1821-1934
46,morley,Michelson Speed of Light Data
47,mtcars,Motor Trend Car Road Tests
48,nhtemp,Average Yearly Temperatures in New Haven
49,nottem,"Average Monthly Temperatures at Nottingham, 1920-1939"
50,npk,"Classical N, P, K Factorial Experiment"
51,occupationalStatus,Occupational Status of Fathers and their Sons
52,precip,Annual Precipitation in US Cities
53,presidents,Quarterly Approval Ratings of US Presidents
54,pressure,Vapor Pressure of Mercury as a Function of Temperature
55,quakes,Locations of Earthquakes off Fiji
56,randu,Random Numbers from Congruential Generator RANDU
57,rivers,Lengths of Major North American Rivers
58,rock,Measurements on Petroleum Rock Samples
59,sleep,Student's Sleep Data
60,stackloss,Brownlee's Stack Loss Plant Data
61,sunspot.month,"Monthly Sunspot Data, from 1749 to ""Present"""
62,sunspot.year,"Yearly Sunspot Data, 1700-1988"
63,sunspots,"Monthly Sunspot Numbers, 1749-1983"
64,swiss,Swiss Fertility and Socioeconomic Indicators (1888) Data
65,treering,"Yearly Treering Data, -6000-1979"
66,trees,"Girth, Height and Volume for Black Cherry Trees"
67,uspop,Populations Recorded by the US Census
68,volcano,Topographic Information on Auckland's Maunga Whau Volcano
69,warpbreaks,The Number of Breaks in Yarn during Weaving
70,women,Average Heights and Weights for American Women
71,acme,Monthly Excess Returns
72,aids,Delay in AIDS Reporting in England and Wales
73,aircondit,Failures of Air-conditioning Equipment
74,aircondit7,Failures of Air-conditioning Equipment
75,amis,Car Speeding and Warning Signs
76,aml,Remission Times for Acute Myelogenous Leukaemia
77,bigcity,Population of U.S. Cities
78,brambles,Spatial Location of Bramble Canes
79,breslow,Smoking Deaths Among Doctors
80,calcium,Calcium Uptake Data
81,cane,Sugar-cane Disease Data
82,capability,Simulated Manufacturing Process Data
83,catsM,Weight Data for Domestic Cats
84,cav,Position of Muscle Caveolae
...,...,...
672,students,Student Risk Taking
673,suicides,Crowd Baiting Behaviour and Suicides
674,toothpaste,Toothpaste Data
675,voting,House of Representatives Voting Data
676,water,Mortality and Water Hardness
677,watervoles,Water Voles Data
678,waves,Electricity from Wave Power at Sea
679,weightgain,Gain in Weight of Rats
680,womensrole,Womens Role in Society
681,Bechtoldt,Seven data sets showing a bifactor solution.
682,Bechtoldt.1,Seven data sets showing a bifactor solution.
683,Bechtoldt.2,Seven data sets showing a bifactor solution.
684,Dwyer,8 cognitive variables used by Dwyer for an example.
685,Gleser,"Example data from Gleser, Cronbach and Rajaratnam (1965) to show basic principles of g..."
686,Gorsuch,Example data set from Gorsuch (1997) for an example factor extension.
687,Harman.5,5 socio-economic variables from Harman (1967)
688,Harman.8,"Correlations of eight physical variables (from Harman, 1966)"
689,Harman.political,Eight political variables used by Harman (1967) as example 8.17
690,Holzinger,Seven data sets showing a bifactor solution.
691,Holzinger.9,Seven data sets showing a bifactor solution.
692,Reise,Seven data sets showing a bifactor solution.
693,Schmid,12 variables created by Schmid and Leiman to show the Schmid-Leiman Transformation
694,Thurstone,Seven data sets showing a bifactor solution.
695,Thurstone.33,Seven data sets showing a bifactor solution.
696,Tucker,9 Cognitive variables discussed by Tucker and Lewis (1973)
697,ability,16 ability items scored as correct or incorrect.
698,affect,Two data sets of affect and arousal scores as a function of personality and movie cond...
699,bfi,25 Personality items representing 5 factors
700,bfi.dictionary,25 Personality items representing 5 factors
701,blot,Bond's Logical Operations Test - BLOT
702,burt,11 emotional variables from Burt (1915)
703,cities,Distances between 11 US cities
704,cubits,Galton's example of the relationship between height and 'cubit' or forearm length
705,cushny,A data set from Cushny and Peebles (1905) on the effect of three drugs on hours of sle...
706,epi,Eysenck Personality Inventory (EPI) data for 3570 participants
707,epi.bfi,13 personality scales from the Eysenck Personality Inventory and Big 5 inventory
708,epi.dictionary,Eysenck Personality Inventory (EPI) data for 3570 participants
709,galton,Galton's Mid parent child height data
710,heights,A data.frame of the Galton (1888) height and cubit data set.
711,income,US family income from US census 2008
712,iqitems,16 multiple choice IQ items
713,msq,75 mood items from the Motivational State Questionnaire for 3896 participants
714,neo,NEO correlation matrix from the NEO_PI_R manual
715,peas,Galton's Peas
716,sat.act,"3 Measures of ability: SATV, SATQ, ACT"
717,withinBetween,An example of the distinction between within group and between group correlations
718,Bosco,Boscovich Data
719,CobarOre,Cobar Ore data
720,Mammals,Garland(1983) Data on Running Speed of Mammals
721,barro,Barro Data
722,engel,Engel Data
723,uis,UIS Drug Treatment study data
724,dietox,Growth curves of pigs in a 3x3 factorial experiment
725,koch,Ordinal Data from Koch
726,ohio,Ohio Children Wheeze Status
727,respdis,Clustered Ordinal Respiratory Disorder
728,respiratory,Data from a clinical trial comparing two treatments for a respiratory illness
729,seizure,Epiliptic Seizures
730,sitka89,Growth of Sitka Spruce Trees
731,spruce,Log-size of 79 Sitka spruce trees
732,liver,Liver related laboratory data
733,portpirie,"Rain, wavesurge and portpirie datasets."
734,rain,"Rain, wavesurge and portpirie datasets."
735,summer,"Air pollution data, separately for summer and winter months"
736,wavesurge,"Rain, wavesurge and portpirie datasets."
737,winter,"Air pollution data, separately for summer and winter months"
738,arthritis,Rheumatoid Arthritis Clinical Trial
739,housing,Homeless Data
740,bmw,Daily Log Returns on BMW Share Price
741,danish,Danish Fire Insurance Claims
742,nidd.annual,The River Nidd Data
743,nidd.thresh,The River Nidd Data
744,siemens,Daily Log Returns on Siemens Share Price
745,sp.raw,SP Data to June 1993
746,spto87,SP Return Data to October 1987
747,Dyestuff,Yield of dyestuff by batch
748,Dyestuff2,Yield of dyestuff by batch
749,InstEval,University Lecture/Instructor Evaluations by Students at ETH
750,Pastes,Paste strength by batch and cask
751,Penicillin,Variation in penicillin testing
752,VerbAgg,Verbal Aggression item responses
753,cake,Breakage Angle of Chocolate Cakes
754,cbpp,Contagious bovine pleuropneumonia
755,grouseticks,Data on red grouse ticks from Elston et al. 2001
756,sleepstudy,Reaction times in a sleep deprivation study

In [51]:
titanic = pydataset.data('titanic')

In [52]:
titanic.head()

       class     age  sex survived
1  1st class  adults  man      yes
2  1st class  adults  man      yes
3  1st class  adults  man      yes
4  1st class  adults  man      yes
5  1st class  adults  man      yes

In [53]:
titanic.tail()

          class    age    sex survived
1312  3rd class  child  women       no
1313  3rd class  child  women       no
1314  3rd class  child  women       no
1315  3rd class  child  women       no
1316  3rd class  child  women       no

In [54]:
titanic.describe()

            class     age   sex survived
count        1316    1316  1316     1316
unique          3       2     2        2
top     3rd class  adults   man       no
freq          706    1207   869      817

In [55]:
titanic['class'].value_counts()

3rd class    706
1st class    325
2nd class    285
Name: class, dtype: int64

In [56]:
titanic

          class     age    sex survived
1     1st class  adults    man      yes
2     1st class  adults    man      yes
3     1st class  adults    man      yes
4     1st class  adults    man      yes
5     1st class  adults    man      yes
6     1st class  adults    man      yes
7     1st class  adults    man      yes
8     1st class  adults    man      yes
9     1st class  adults    man      yes
10    1st class  adults    man      yes
11    1st class  adults    man      yes
12    1st class  adults    man      yes
13    1st class  adults    man      yes
14    1st class  adults    man      yes
15    1st class  adults    man      yes
16    1st class  adults    man      yes
17    1st class  adults    man      yes
18    1st class  adults    man      yes
19    1st class  adults    man      yes
20    1st class  adults    man      yes
21    1st class  adults    man      yes
22    1st class  adults    man      yes
23    1st class  adults    man      yes
24    1st class  adults    man      yes
25    1st class  adults    man      yes
26    1st class  adults    man      yes
27    1st class  adults    man      yes
28    1st class  adults    man      yes
29    1st class  adults    man      yes
30    1st class  adults    man      yes
31    1st class  adults    man      yes
32    1st class  adults    man      yes
33    1st class  adults    man      yes
34    1st class  adults    man      yes
35    1st class  adults    man      yes
36    1st class  adults    man      yes
37    1st class  adults    man      yes
38    1st class  adults    man      yes
39    1st class  adults    man      yes
40    1st class  adults    man      yes
41    1st class  adults    man      yes
42    1st class  adults    man      yes
43    1st class  adults    man      yes
44    1st class  adults    man      yes
45    1st class  adults    man      yes
46    1st class  adults    man      yes
47    1st class  adults    man      yes
48    1st class  adults    man      yes
49    1st class  adults    man      yes
50    1st class  adults    man      yes
51    1st class  adults    man      yes
52    1st class  adults    man      yes
53    1st class  adults    man      yes
54    1st class  adults    man      yes
55    1st class  adults    man      yes
56    1st class  adults    man      yes
57    1st class  adults    man      yes
58    1st class  adults    man       no
59    1st class  adults    man       no
60    1st class  adults    man       no
61    1st class  adults    man       no
62    1st class  adults    man       no
63    1st class  adults    man       no
64    1st class  adults    man       no
65    1st class  adults    man       no
66    1st class  adults    man       no
67    1st class  adults    man       no
68    1st class  adults    man       no
69    1st class  adults    man       no
70    1st class  adults    man       no
71    1st class  adults    man       no
72    1st class  adults    man       no
73    1st class  adults    man       no
74    1st class  adults    man       no
75    1st class  adults    man       no
76    1st class  adults    man       no
77    1st class  adults    man       no
78    1st class  adults    man       no
79    1st class  adults    man       no
80    1st class  adults    man       no
81    1st class  adults    man       no
82    1st class  adults    man       no
83    1st class  adults    man       no
84    1st class  adults    man       no
85    1st class  adults    man       no
...         ...     ...    ...      ...
1232  3rd class  adults  women       no
1233  3rd class  adults  women       no
1234  3rd class  adults  women       no
1235  3rd class  adults  women       no
1236  3rd class  adults  women       no
1237  3rd class  adults  women       no
1238  3rd class   child    man      yes
1239  3rd class   child    man      yes
1240  3rd class   child    man      yes
1241  3rd class   child    man      yes
1242  3rd class   child    man      yes
1243  3rd class   child    man      yes
1244  3rd class   child    man      yes
1245  3rd class   child    man      yes
1246  3rd class   child    man      yes
1247  3rd class   child    man      yes
1248  3rd class   child    man      yes
1249  3rd class   child    man      yes
1250  3rd class   child    man      yes
1251  3rd class   child    man       no
1252  3rd class   child    man       no
1253  3rd class   child    man       no
1254  3rd class   child    man       no
1255  3rd class   child    man       no
1256  3rd class   child    man       no
1257  3rd class   child    man       no
1258  3rd class   child    man       no
1259  3rd class   child    man       no
1260  3rd class   child    man       no
1261  3rd class   child    man       no
1262  3rd class   child    man       no
1263  3rd class   child    man       no
1264  3rd class   child    man       no
1265  3rd class   child    man       no
1266  3rd class   child    man       no
1267  3rd class   child    man       no
1268  3rd class   child    man       no
1269  3rd class   child    man       no
1270  3rd class   child    man       no
1271  3rd class   child    man       no
1272  3rd class   child    man       no
1273  3rd class   child    man       no
1274  3rd class   child    man       no
1275  3rd class   child    man       no
1276  3rd class   child    man       no
1277  3rd class   child    man       no
1278  3rd class   child    man       no
1279  3rd class   child    man       no
1280  3rd class   child    man       no
1281  3rd class   child    man       no
1282  3rd class   child    man       no
1283  3rd class   child    man       no
1284  3rd class   child    man       no
1285  3rd class   child    man       no
1286  3rd class   child  women      yes
1287  3rd class   child  women      yes
1288  3rd class   child  women      yes
1289  3rd class   child  women      yes
1290  3rd class   child  women      yes
1291  3rd class   child  women      yes
1292  3rd class   child  women      yes
1293  3rd class   child  women      yes
1294  3rd class   child  women      yes
1295  3rd class   child  women      yes
1296  3rd class   child  women      yes
1297  3rd class   child  women      yes
1298  3rd class   child  women      yes
1299  3rd class   child  women      yes
1300  3rd class   child  women       no
1301  3rd class   child  women       no
1302  3rd class   child  women       no
1303  3rd class   child  women       no
1304  3rd class   child  women       no
1305  3rd class   child  women       no
1306  3rd class   child  women       no
1307  3rd class   child  women       no
1308  3rd class   child  women       no
1309  3rd class   child  women       no
1310  3rd class   child  women       no
1311  3rd class   child  women       no
1312  3rd class   child  women       no
1313  3rd class   child  women       no
1314  3rd class   child  women       no
1315  3rd class   child  women       no
1316  3rd class   child  women       no

[1316 rows x 4 columns]

In [57]:
net = pydataset.data('WWWusage')

In [58]:
net

     time  WWWusage
1       1        88
2       2        84
3       3        85
4       4        85
5       5        84
6       6        85
7       7        83
8       8        85
9       9        88
10     10        89
11     11        91
12     12        99
13     13       104
14     14       112
15     15       126
16     16       138
17     17       146
18     18       151
19     19       150
20     20       148
21     21       147
22     22       149
23     23       143
24     24       132
25     25       131
26     26       139
27     27       147
28     28       150
29     29       148
30     30       145
31     31       140
32     32       134
33     33       131
34     34       131
35     35       129
36     36       126
37     37       126
38     38       132
39     39       137
40     40       140
41     41       142
42     42       150
43     43       159
44     44       167
45     45       170
46     46       171
47     47       172
48     48       172
49     49       174
50     50       175
51     51       172
52     52       172
53     53       174
54     54       174
55     55       169
56     56       165
57     57       156
58     58       142
59     59       131
60     60       121
61     61       112
62     62       104
63     63       102
64     64        99
65     65        99
66     66        95
67     67        88
68     68        84
69     69        84
70     70        87
71     71        89
72     72        88
73     73        85
74     74        86
75     75        89
76     76        91
77     77        91
78     78        94
79     79       101
80     80       110
81     81       121
82     82       135
83     83       145
84     84       149
85     85       156
86     86       165
87     87       171
88     88       175
89     89       177
90     90       182
91     91       193
92     92       204
93     93       208
94     94       210
95     95       215
96     96       222
97     97       228
98     98       226
99     99       222
100   100       220

# Carregando dataset's com db.py

In [59]:
from db import DB

In [60]:
database = DB(filename='logs.sqlite3',dbtype='sqlite')

Indexing schema. This will take a second...finished!

In [61]:
database.tables

Refreshing schema. Please wait...done!

+--------+-------+-------------------------+
| Schema | Table | Columns                 |
+--------+-------+-------------------------+
| public | log   | id, path, user_id, date |
+--------+-------+-------------------------+

In [62]:
log_df = database.tables.log

In [63]:
log_df

+---------------------------------------------------+
|                        log                        |
+---------+---------+--------------+----------------+
| Column  | Type    | Foreign Keys | Reference Keys |
+---------+---------+--------------+----------------+
| id      | integer |              |                |
| path    | text    |              |                |
| user_id | integer |              |                |
| date    | numeric |              |                |
+---------+---------+--------------+----------------+

In [64]:
log_df = database.tables.log.all()

In [65]:
log_df

     id                  path  user_id                 date
0     1                     /        3  2017-01-03T11:41:00
1     2              /pandas/        4  2017-01-03T11:37:00
2     3              /videos/        5  2017-01-03T10:47:00
3     4                     /        2  2017-01-03T11:51:00
4     5  /python-para-zumbis/        5  2017-01-03T10:32:00
5     6              /cursos/        3  2017-01-03T11:31:00
6     7              /videos/        4  2017-01-03T10:39:00
7     8              /cursos/        5  2017-01-03T10:55:00
8     9                     /        4  2017-01-03T11:50:00
9    10              /pandas/        1  2017-01-03T11:38:00
10   11    /django-ecommerce/        5  2017-01-03T11:42:00
11   12                     /        4  2017-01-03T11:50:00
12   13    /django-ecommerce/        3  2017-01-03T11:59:00
13   14    /django-ecommerce/        4  2017-01-03T10:43:00
14   15  /python-para-zumbis/        5  2017-01-03T11:53:00
15   16              /cursos/        3  2017-01-03T11:39:00
16   17    /django-ecommerce/        5  2017-01-03T11:40:00
17   18  /python-para-zumbis/        5  2017-01-03T11:45:00
18   19              /pandas/        2  2017-01-03T11:36:00
19   20    /django-ecommerce/        2  2017-01-03T10:31:00
20   21              /videos/        2  2017-01-03T11:33:00
21   22    /django-ecommerce/        3  2017-01-03T10:35:00
22   23                     /        1  2017-01-03T11:56:00
23   24    /django-ecommerce/        4  2017-01-03T11:51:00
24   25              /cursos/        1  2017-01-03T10:54:00
25   26              /cursos/        4  2017-01-03T11:59:00
26   27  /python-para-zumbis/        2  2017-01-03T10:43:00
27   28    /django-ecommerce/        3  2017-01-03T11:57:00
28   29              /pandas/        1  2017-01-03T10:42:00
29   30              /cursos/        5  2017-01-03T10:57:00
30   31              /pandas/        2  2017-01-03T10:37:00
31   32    /django-ecommerce/        2  2017-01-03T10:51:00
32   33                     /        2  2017-01-03T10:42:00
33   34              /pandas/        3  2017-01-03T11:43:00
34   35              /videos/        4  2017-01-03T11:46:00
35   36  /python-para-zumbis/        5  2017-01-03T11:46:00
36   37                     /        5  2017-01-03T10:51:00
37   38              /videos/        3  2017-01-03T11:58:00
38   39    /django-ecommerce/        2  2017-01-03T11:37:00
39   40  /python-para-zumbis/        4  2017-01-03T11:31:00
40   41  /python-para-zumbis/        2  2017-01-03T11:48:00
41   42              /videos/        4  2017-01-03T11:37:00
42   43    /django-ecommerce/        1  2017-01-03T10:33:00
43   44              /cursos/        1  2017-01-03T10:57:00
44   45              /cursos/        4  2017-01-03T11:55:00
45   46                     /        5  2017-01-03T10:51:00
46   47              /pandas/        3  2017-01-03T10:55:00
47   48    /django-ecommerce/        4  2017-01-03T10:36:00
48   49              /videos/        2  2017-01-03T11:30:00
49   50                     /        4  2017-01-03T11:37:00
50   51  /python-para-zumbis/        3  2017-01-03T11:57:00
51   52    /django-ecommerce/        4  2017-01-03T10:46:00
52   53              /pandas/        2  2017-01-03T11:34:00
53   54              /videos/        1  2017-01-03T11:37:00
54   55                     /        1  2017-01-03T11:41:00
55   56                     /        3  2017-01-03T11:45:00
56   57  /python-para-zumbis/        5  2017-01-03T11:57:00
57   58              /cursos/        2  2017-01-03T10:31:00
58   59  /python-para-zumbis/        5  2017-01-03T10:36:00
59   60              /videos/        3  2017-01-03T11:37:00
60   61    /django-ecommerce/        4  2017-01-03T10:45:00
61   62    /django-ecommerce/        2  2017-01-03T10:59:00
62   63  /python-para-zumbis/        5  2017-01-03T11:46:00
63   64                     /        3  2017-01-03T10:48:00
64   65    /django-ecommerce/        5  2017-01-03T11:51:00
65   66    /django-ecommerce/        3  2017-01-03T10:54:00
66   67                     /        4  2017-01-03T11:31:00
67   68              /cursos/        5  2017-01-03T10:47:00
68   69  /python-para-zumbis/        3  2017-01-03T11:50:00
69   70              /pandas/        5  2017-01-03T10:38:00
70   71              /videos/        1  2017-01-03T11:50:00
71   72              /videos/        5  2017-01-03T11:59:00
72   73                     /        3  2017-01-03T11:49:00
73   74                     /        2  2017-01-03T11:34:00
74   75              /pandas/        4  2017-01-03T11:35:00
75   76              /pandas/        1  2017-01-03T11:48:00
76   77              /pandas/        2  2017-01-03T11:35:00
77   78  /python-para-zumbis/        3  2017-01-03T11:54:00
78   79              /pandas/        3  2017-01-03T11:57:00
79   80              /videos/        3  2017-01-03T11:32:00
80   81              /pandas/        2  2017-01-03T10:36:00
81   82    /django-ecommerce/        3  2017-01-03T11:39:00
82   83              /pandas/        3  2017-01-03T11:51:00
83   84              /videos/        1  2017-01-03T11:51:00
84   85    /django-ecommerce/        3  2017-01-03T10:45:00
85   86              /videos/        4  2017-01-03T11:59:00
86   87              /cursos/        2  2017-01-03T10:47:00
87   88                     /        5  2017-01-03T11:56:00
88   89  /python-para-zumbis/        1  2017-01-03T11:34:00
89   90  /python-para-zumbis/        2  2017-01-03T11:35:00
90   91              /pandas/        2  2017-01-03T11:33:00
91   92  /python-para-zumbis/        1  2017-01-03T11:33:00
92   93              /videos/        2  2017-01-03T11:59:00
93   94    /django-ecommerce/        3  2017-01-03T11:54:00
94   95              /pandas/        2  2017-01-03T11:39:00
95   96    /django-ecommerce/        1  2017-01-03T10:49:00
96   97                     /        5  2017-01-03T10:33:00
97   98              /cursos/        5  2017-01-03T10:31:00
98   99  /python-para-zumbis/        3  2017-01-03T10:56:00
99  100              /cursos/        4  2017-01-03T11:46:00

In [66]:
log_df = database.query('select * from log where user_id =3')

In [67]:
log_df

    id                  path  user_id                 date
0    1                     /        3  2017-01-03T11:41:00
1    6              /cursos/        3  2017-01-03T11:31:00
2   13    /django-ecommerce/        3  2017-01-03T11:59:00
3   16              /cursos/        3  2017-01-03T11:39:00
4   22    /django-ecommerce/        3  2017-01-03T10:35:00
5   28    /django-ecommerce/        3  2017-01-03T11:57:00
6   34              /pandas/        3  2017-01-03T11:43:00
7   38              /videos/        3  2017-01-03T11:58:00
8   47              /pandas/        3  2017-01-03T10:55:00
9   51  /python-para-zumbis/        3  2017-01-03T11:57:00
10  56                     /        3  2017-01-03T11:45:00
11  60              /videos/        3  2017-01-03T11:37:00
12  64                     /        3  2017-01-03T10:48:00
13  66    /django-ecommerce/        3  2017-01-03T10:54:00
14  69  /python-para-zumbis/        3  2017-01-03T11:50:00
15  73                     /        3  2017-01-03T11:49:00
16  78  /python-para-zumbis/        3  2017-01-03T11:54:00
17  79              /pandas/        3  2017-01-03T11:57:00
18  80              /videos/        3  2017-01-03T11:32:00
19  82    /django-ecommerce/        3  2017-01-03T11:39:00
20  83              /pandas/        3  2017-01-03T11:51:00
21  85    /django-ecommerce/        3  2017-01-03T10:45:00
22  94    /django-ecommerce/        3  2017-01-03T11:54:00
23  99  /python-para-zumbis/        3  2017-01-03T10:56:00

In [68]:
log_df = database.query('select * from log')

In [69]:
len(log_df)

100

# Carregando dados com CSV/Excel

In [2]:
import pandas as pd

In [3]:
copacabana = pd.read_csv('copacabana.csv',delimiter=';')

In [4]:
copacabana

,Posicao,Quartos,Vagas,DistIpanema,DistPraia,DistFavela,RendaMedia,RendaMovel,RendaMovelRua,Vu2009,Mes,Idade,Tipologia,AreaConstruida,VAL_UNIT,X,Y
0,1,3.00,0.01,1144,311,146,969501,1028834,999168,1750,509,37.00,1,95,4379,685365.0700,7457802.680
1,0,2.00,0.01,2456,502,254,1472861,1137759,1305310,2300,484,30.00,1,71,6479,685941.5500,7459001.320
2,0,2.00,0.01,2448,772,229,1803724,1512475,1658100,2350,920,44.00,1,58,12414,685627.3900,7459080.520
3,0,2.00,0.01,1615,428,310,1124331,1370600,1247466,2200,930,43.00,1,88,11250,685438.2001,7458268.280
4,0,2.00,1.00,2358,586,287,1165764,1177933,1171849,2150,918,42.00,1,68,13382,685764.3840,7458954.513
5,0,2.00,1.00,2358,586,287,1165764,1177933,1171849,2150,825,42.00,1,68,11618,685764.3840,7458954.513
6,0,3.00,0.01,2537,758,115,994427,1037602,1016015,1850,864,43.00,1,103,6505,685723.3600,7459150.250
7,0,0.01,0.01,555,332,306,1140573,1064998,1102786,2450,554,40.00,2,39,6410,685263.3300,7457221.990
8,0,1.00,0.01,555,332,306,1140573,1064998,1102786,2450,830,43.00,1,22,14545,685263.3300,7457221.990
9,0,1.00,0.01,555,332,306,1140573,1064998,1102786,2450,940,43.00,1,27,11111,685263.3300,7457221.990
10,1,1.00,0.01,555,332,306,1140573,1064998,1102786,2450,918,43.00,1,20,19500,685263.3300,7457221.990
11,1,0.01,0.01,555,332,306,1140573,1064998,1102786,2450,918,43.00,1,22,13636,685263.3300,7457221.990
12,1,0.01,0.01,555,332,306,1140573,1064998,1102786,2450,864,43.00,1,20,20500,685263.3300,7457221.990
13,1,3.00,1.00,2498,716,148,1281444,1281444,1281444,1900,830,43.00,1,74,10135,685737.4900,7459106.520
14,1,2.00,0.01,2498,716,148,1281444,1281444,1281444,1900,830,43.00,1,62,10081,685737.4900,7459106.520
15,1,2.00,0.01,2498,716,148,1281444,1281444,1281444,1900,920,43.00,1,59,10508,685737.4900,7459106.520
16,0,2.00,1.00,2498,716,148,1281444,1281444,1281444,1900,360,40.00,1,74,4189,685737.4900,7459106.520
17,0,2.00,0.01,2835,330,629,1124331,727350,925841,2100,385,40.00,1,64,5313,686482.9500,7459173.830
18,1,2.00,2.00,2835,330,629,1124331,727350,925841,2100,918,43.00,1,64,11875,686482.9500,7459173.830
19,0,3.00,0.01,1987,494,510,1369604,1453409,1411507,2600,920,44.00,1,82,10610,685585.7600,7458617.750
20,1,0.01,0.01,2057,307,621,1395924,1176888,1286406,2350,792,43.00,2,15,16667,685829.6300,7458617.410
21,1,0.01,0.01,2057,307,621,1395924,1176888,1286406,2350,801,43.00,1,15,22667,685829.6300,7458617.410
22,0,1.00,0.01,2057,307,621,1395924,1176888,1286406,2350,573,41.00,1,15,14000,685829.6300,7458617.410
23,1,1.00,0.01,2057,307,621,1395924,1176888,1286406,2350,425,41.00,2,15,9333,685829.6300,7458617.410
24,1,0.01,0.01,2057,307,621,1395924,1176888,1286406,2350,801,43.00,2,15,18000,685829.6300,7458617.410
25,1,1.00,0.01,2057,307,621,1395924,1176888,1286406,2350,405,41.00,1,20,4500,685829.6300,7458617.410
26,1,3.00,0.01,3207,145,467,1083455,1041944,1062700,2000,509,53.00,1,90,3889,687024.5600,7459269.140
27,0,2.00,0.01,474,212,492,1308645,1445903,1377274,2100,554,38.00,1,58,7759,685416.7700,7457059.020
28,0,2.00,0.01,1191,564,125,2068724,2135043,2101884,2450,445,40.00,1,67,4925,685122.0745,7457874.874
29,0,2.00,0.01,2536,817,156,1165764,881744,1023754,2150,360,40.00,1,81,2593,685652.6700,7459165.230
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1645,1,1.00,0.01,1565,702,44,1286868,999741,1143305,1850,904,75.00,1,57,13912,685119.5800,7458248.830
1646,1,2.00,0.01,1565,702,44,1286868,999741,1143305,1850,904,75.00,1,108,12907,685119.5800,7458248.830
1647,1,1.00,1.00,1565,702,44,1286868,999741,1143305,1850,920,75.00,1,57,14211,685119.5800,7458248.830
1648,1,3.00,0.01,1565,702,44,1286868,999741,1143305,1850,904,75.00,1,133,13534,685119.5800,7458248.830
1649,1,1.00,1.00,1565,702,44,1286868,999741,1143305,1850,864,75.00,1,65,13646,685119.5800,7458248.830
1650,0,2.00,2.00,2650,419,381,1357174,1650214,1503694,2500,842,17.00,1,74,13108,686211.6000,7459102.200
1651,0,2.00,2.00,2650,419,381,1357174,1650214,1503694,2500,554,14.00,1,72,6944,686211.6000,7459102.200
1652,0,2.00,2.00,2650,419,381,1357174,1650214,1503694,2500,484,14.00,1,74,7568,686211.6000,7459102.200
1653,0,1.00,0.01,791,445,47,1056413,1199919,1128166,800,825,17.00,1,49,5816,685153.1000,7457474.120
1654,0,4.00,3.00,2442,894,189,1783469,1696269,1739869,2300,920,12.00,1,166,13253,685475.4576,7459100.927
1655,1,2.00,2.00,2853,530,436,1915512,2246429,2080971,2450,930,12.00,1,156,13974,686292.3707,7459288.323
1656,1,1.00,0.01,1669,69,693,1447740,1271491,1359616,2700,385,7.00,1,43,6977,685816.0100,7458204.550
1657,1,1.00,0.01,1669,69,693,1447740,1271491,1359616,2700,405,7.00,1,48,3750,685816.0100,7458204.550
1658,0,1.00,0.01,1669,69,693,1447740,1271491,1359616,2700,573,7.00,1,37,7568,685816.0100,7458204.550
1659,0,1.00,0.01,1669,69,693,1447740,1271491,1359616,2700,573,7.00,1,37,6216,685816.0100,7458204.550
1660,0,1.00,0.01,1669,69,693,1447740,1271491,1359616,2700,445,7.00,1,44,7773,685816.0100,7458204.550
1661,0,1.00,0.01,1669,69,693,1447740,1271491,1359616,2700,862,10.00,1,44,15909,685816.0100,7458204.550
1662,1,3.00,2.00,2564,949,183,1803724,1724790,1764257,2350,425,7.00,1,124,5726,685515.4500,7459218.860
1663,1,2.00,2.00,2391,856,182,1395924,2123522,1759723,1550,792,9.00,1,96,13750,685479.2401,7459049.260
1664,1,1.00,0.01,1163,377,143,969501,996033,982767,1750,509,6.00,3,54,5556,685305.1601,7457833.150
1665,1,1.00,0.01,1163,377,143,969501,996033,982767,1750,862,9.00,3,52,13462,685305.1601,7457833.150
1666,1,2.00,0.01,1163,377,143,969501,996033,982767,1750,445,6.00,3,52,7500,685305.1601,7457833.150
1667,1,1.00,1.00,1163,377,143,969501,996033,982767,1750,573,6.00,3,52,8365,685305.1601,7457833.150
1668,1,2.00,2.00,604,542,106,1056413,1252054,1154234,800,360,5.00,1,81,2716,685047.7900,7457283.270
1669,0,2.00,2.00,2866,562,416,1915512,2101848,2008680,2450,554,2.00,1,75,8533,686269.4600,7459312.080
1670,1,2.00,2.00,2866,562,416,1915512,2101848,2008680,2450,360,2.00,1,114,4210,686269.4600,7459312.080
1671,1,2.00,2.00,2488,1030,106,1395924,1396219,1396072,1550,509,0.01,1,95,4232,685346.9700,7459162.110
1672,1,2.00,2.00,2488,1030,106,1395924,1396219,1396072,1550,509,0.01,1,95,6316,685346.9700,7459162.110
1673,1,2.00,2.00,2488,1030,106,1395924,1396219,1396072,1550,445,0.01,1,113,6785,685346.9700,7459162.110
1674,1,2.00,2.00,2488,1030,106,1395924,1396219,1396072,1550,445,0.01,1,101,6771,685346.9700,7459162.110

In [5]:
populacao = pd.read_excel('total-populacao-pernambuco.xls')

In [18]:
populacao

,Código do município,Nome do município,Total da população 2000,Total de homens,Total de mulheres,Total da população urbana,Total da população rural,Total da população 2010
0,2600054,Abreu e Lima,89039.0,45165.0,49263.0,86589.0,7839.0,94428.0
1,2600104,Afogados da Ingazeira,32922.0,16790.0,18301.0,27406.0,7685.0,35091.0
2,2600203,Afrânio,15014.0,8751.0,8837.0,5859.0,11729.0,17588.0
3,2600302,Agrestina,20036.0,10938.0,11742.0,16955.0,5725.0,22680.0
4,2600401,Água Preta,28531.0,16581.0,16465.0,18708.0,14338.0,33046.0
5,2600500,Águas Belas,36641.0,19545.0,20462.0,24300.0,15707.0,40007.0
6,2600609,Alagoinha,12535.0,6906.0,6855.0,7770.0,5991.0,13761.0
7,2600708,Aliança,37189.0,18579.0,18835.0,20249.0,17165.0,37414.0
8,2600807,Altinho,22131.0,11114.0,11249.0,12781.0,9582.0,22363.0
9,2600906,Amaraji,21309.0,10982.0,10943.0,16033.0,5892.0,21925.0
10,2601003,Angelim,9082.0,5019.0,5185.0,6089.0,4115.0,10204.0
11,2601052,Araçoiaba,15108.0,9014.0,9130.0,15261.0,2883.0,18144.0
12,2601102,Araripina,70898.0,37884.0,39479.0,46975.0,30388.0,77363.0
13,2601201,Arcoverde,61600.0,32563.0,36594.0,62899.0,6258.0,69157.0
14,2601300,Barra de Guabiraba,10939.0,6506.0,6259.0,11379.0,1386.0,12765.0
15,2601409,Barreiros,39139.0,19881.0,20839.0,33969.0,6751.0,40720.0
16,2601508,Belém de Maria,10626.0,5637.0,5712.0,7988.0,3361.0,11349.0
17,2601607,Belém do São Francisco,20208.0,9944.0,10292.0,12582.0,7654.0,20236.0
18,2601706,Belo Jardim,68698.0,34765.0,37647.0,58208.0,14204.0,72412.0
19,2601805,Betânia,11305.0,6014.0,5991.0,3709.0,8296.0,12005.0
20,2601904,Bezerros,57371.0,28051.0,30624.0,49747.0,8928.0,58675.0
21,2602001,Bodocó,31731.0,17643.0,17535.0,12836.0,22342.0,35178.0
22,2602100,Bom Conselho,42085.0,22010.0,23496.0,29782.0,15724.0,45506.0
23,2602209,Bom Jardim,37013.0,18461.0,19367.0,15191.0,22637.0,37828.0
24,2602308,Bonito,37750.0,18575.0,18995.0,26210.0,11360.0,37570.0
25,2602407,Brejão,8916.0,4338.0,4513.0,3571.0,5280.0,8851.0
26,2602506,Brejinho,7278.0,3608.0,3699.0,3386.0,3921.0,7307.0
27,2602605,Brejo da Madre de Deus,38109.0,22150.0,23042.0,35135.0,10057.0,45192.0
28,2602704,Buenos Aires,12007.0,6197.0,6340.0,7917.0,4620.0,12537.0
29,2602803,Buíque,44169.0,25572.0,26418.0,21121.0,30869.0,51990.0
...,...,...,...,...,...,...,...,...
157,2613800,São Vicente Ferrer,16004.0,8364.0,8636.0,11205.0,5795.0,17000.0
158,2613909,Serra Talhada,70912.0,37831.0,41410.0,61288.0,17953.0,79241.0
159,2614006,Serrita,17848.0,9199.0,9132.0,6356.0,11975.0,18331.0
160,2614105,Sertânia,31657.0,16480.0,17243.0,18548.0,15175.0,33723.0
161,2614204,Sirinhaém,33046.0,20350.0,19956.0,21473.0,18833.0,40306.0
162,2614402,Solidão,5532.0,2902.0,2842.0,1831.0,3913.0,5744.0
163,2614501,Surubim,50331.0,27931.0,30513.0,44004.0,14440.0,58444.0
164,2614600,Tabira,24065.0,12969.0,13461.0,19772.0,6658.0,26430.0
165,2614709,Tacaimbó,12929.0,6261.0,6443.0,7076.0,5628.0,12704.0
166,2614808,Tacaratu,17096.0,11162.0,10911.0,9197.0,12876.0,22073.0
167,2614857,Tamandaré,17281.0,10425.0,10320.0,15186.0,5559.0,20745.0
168,2615003,Taquaritinga do Norte,19757.0,12348.0,12575.0,17977.0,6946.0,24923.0
169,2615102,Terezinha,6300.0,3271.0,3466.0,2860.0,3877.0,6737.0
170,2615201,Terra Nova,7518.0,4702.0,4554.0,5015.0,4241.0,9256.0
171,2615300,Timbaúba,56906.0,25906.0,27917.0,46371.0,7452.0,53823.0
172,2615409,Toritama,21800.0,17473.0,18158.0,34198.0,1433.0,35631.0
173,2615508,Tracunhaém,12394.0,6363.0,6692.0,10969.0,2086.0,13055.0
174,2615607,Trindade,21930.0,12889.0,13227.0,22463.0,3653.0,26116.0
175,2615706,Triunfo,15135.0,7180.0,7826.0,7944.0,7062.0,15006.0
176,2615805,Tupanatinga,20801.0,12022.0,12232.0,8496.0,15758.0,24254.0
177,2615904,Tuparetama,7766.0,3852.0,4073.0,6351.0,1574.0,7925.0
178,2616001,Venturosa,13462.0,7869.0,8195.0,10351.0,5713.0,16064.0
179,2616100,Verdejante,8846.0,4484.0,4658.0,2692.0,6450.0,9142.0
180,2616183,Vertente do Lério,8536.0,3878.0,4016.0,1813.0,6081.0,7894.0
181,2616209,Vertentes,14957.0,8976.0,9291.0,12978.0,5289.0,18267.0
182,2616308,Vicência,28820.0,15194.0,15537.0,13805.0,16926.0,30731.0
183,2616407,Vitória de Santo Antão,117609.0,62685.0,67855.0,113481.0,17059.0,130540.0
184,2616506,Xexéu,13597.0,6996.0,7096.0,9165.0,4927.0,14092.0
185,Total,Pernambuco,7918344.0,4229897.0,4566135.0,7049868.0,1746164.0,8796032.0
186,"Fonte: IBGE, Resultados do Censo 2010.",NaN,NaN,NaN,NaN,NaN,NaN,NaN